<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Sign++免费网络验证 后台管理</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="keywords" content="sign++ 云网络验证系统 软件验证 脚本验证">
    <meta name="description" content="免费的网络验证系统 提卡免费 可以管理多个软件 功能丰富">
    <link rel="stylesheet" href="/Public/css/a100e2e6.app.css">
    <link rel="stylesheet" href="/Public/css/common.css">
    <script src="/Public/js/jquery-1.9.1.min.js"></script>
    <script src="/Public/js/bootstrap.min.js"></script>
</head>
<style>
    span.time {
        color: #666;
    }

    div.input-group-half {
        margin-bottom: 8px;
    }
</style>
<body>
<include file="Application/Home/View/Common/Navigation.html"/>
<include file="Application/Home/View/Common/Sidebar.html"/>

<div class="right-container">

    <form method="get">
        <label>软件名称</label>
        <div class="input-group input-group-half">
            <input type="text" readonly="readonly" class="form-control softname-input" name="softname" value="{:I('softname')}">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">选择软件 <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <volist name="softlist" id="vo">
                        <li><a class="softname_btn" href="#">{$vo.name}</a></li>
                    </volist>
                </ul>
            </div>
        </div>
        <label>生成张数</label>
        <div class="form-group input-group-half">
            <input type="text" class="form-control" name="count" value="{:I('count')?I('count'):1}">
        </div>
        <label>总共时长</label>
        <div class="input-group input-group-half">
            <input type="text" class="form-control" name="time" value="{:I('time')?I('time'):30}">
            <span class="time input-group-addon">
            <input type="radio" name="time_type" value="hour"
                   {:I(time_type)=='hour'?"checked":""}> 小时&emsp;
            <input type="radio" name="time_type" value="day"
                   {:I(time_type)=='hour'?"":"checked"}> 天
        </span>
        </div>
        <label>备注</label>
        <div class="form-group input-group-half">
            <input type="text" class="form-control" name="mark" value="{:I('mark')?I('mark'):''}">
        </div>
        <div class="form-group">
            <label class="control-label ng-scope">生成结果类型</label>
            <div class="custom-form-inline custom-form-horizontal-form">
                <div class="radio custom-control">
                    <label>
                        <input type="radio" value="0" class="ng-pristine ng-valid" name="creat_type" checked="checked">
                        <span class="control-indicator"></span>
                        注册码形式
                    </label>
                </div>
                <div class="radio custom-control">
                    <label>
                        <input type="radio" value="1" class="ng-pristine ng-valid" name="creat_type">
                        <span class="control-indicator"></span>
                        注册码加推荐码形式
                    </label>
                </div>
            </div>
        </div>
        <button type="submit" name="produce" class="btn btn-primary">开始生成</button>
    </form>

    <br><br><br>
    <label>生成结果</label>
    <div class="form-group input-group-half ng-scope">
        <textarea class="form-control ng-pristine ng-valid" id="generalAppDesc" ng-model="app.description"
                  rows="10"><volist name="code_list" id="vo">{$vo}&#13;</volist></textarea>
    </div>

</div>
</body>
<script>
    $(function () {
        // 默认显示第一个软件名字
        var firstSoftWareName = $('.softname_btn:nth(0)').text();
        $('.softname-input').val(firstSoftWareName);
    });

    $('.softname_btn').click(function () {
        $('.softname-input').val($(this).text());
    });
</script>
</html>