<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Sign++免费网络验证 后台管理</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="keywords" content="sign++ 云网络验证系统 软件验证 脚本验证">
    <meta name="description" content="免费的网络验证系统 提卡免费 可以管理多个软件 功能丰富">
    <link rel="stylesheet" href="/Public/css/a100e2e6.app.css">
    <link rel="stylesheet" href="/Public/css/common.css">
    <script src="/Public/js/jquery-1.9.1.min.js"></script>
    <script src="/Public/js/bootstrap.min.js"></script>
    <script src="/Public/js/common.js"></script>
</head>
<style>
    div.form-group {
        margin-bottom: 8px;
    }
</style>
<body>

<include file="Application/Home/View/Common/Navigation.html"/>
<include file="Application/Home/View/Common/Sidebar.html"/>

<div class="right-container">
    <form method="get" id="form">
        <label>注册码</label>
        <div class="form-group input-group-half ng-scope">
            <textarea class="form-control ng-pristine ng-valid" rows="10" placeholder="请用回车分隔注册码" name="codes">{:I(codes)}</textarea>
        </div>
        <input type="text" name="op" id="op" hidden>
    </form>
    <button type="button" class="btn btn-primary" onclick="unbind()">解绑</button>
    <button type="button" class="btn btn-primary" onclick="frozen()">冻结</button>
    &emsp;
    <button type="button" class="btn btn-danger" onclick="del()">删除</button>
</div>
</body>
<script>
    function unbind() {
        document.getElementById('op').value = 'unbind';
        document.getElementById('form').submit();
    }
    function frozen() {
        document.getElementById('op').value = 'frozen';
        document.getElementById('form').submit();
    }
    function del() {
        if (confirm("确定要提交?")) {
            document.getElementById('op').value = 'del';
            document.getElementById('form').submit();
        }
    }
</script>
</html>