<div class="left-container">
    <ul class="nav sidenav" style="margin-top:-15px">
        <li>
            <a class="disable" href="javascript:void(0)">商户信息 </a>
            <ul class="nav">
                <li>
                    <a class="{$home_selected}" href="/Home">商户概况 </a>
                </li>
            </ul>
        </li>
        <li>
            <a class="disable" href="javascript:void(0)">软件提卡 </a>
            <ul class="nav">
                <li>
                    <a class="{$managesoft_selected}" href="/Home/managesoft">软件管理 </a>
                </li>
                <li>
                    <a class="{$createcode_selected}" href="/Home/createcode">生成注册码 </a>
                </li>
                <li>
                    <a class="{$managecode_selected}" href="/Home/managecode">注册码管理</a>
                </li>
                <li>
                    <a class="{$batchopera_selected}" href="/Home/batchopera">批量操作</a>
                </li>
                <li>
                    <a class="{$recommend_selected}" href="/Home/recommend">推荐人规则</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="disable" href="javascript:void(0)">其他 </a>
            <ul class="nav">
                <li>
                    <a href="http://www.signxx.com/sdk">下载</a>
                </li>
                <li>
                    <a class="{$contact_selected}" href="/Home/contact">联系我们</a>
                </li>
            </ul>
        </li>
    </ul>
</div>