<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Sign++免费网络验证 后台管理</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="keywords" content="sign++ 云网络验证系统 软件验证 脚本验证">
    <meta name="description" content="免费的网络验证系统 提卡免费 可以管理多个软件 功能丰富">
    <link rel="stylesheet" href="/Public/css/a100e2e6.app.css">
    <link rel="stylesheet" href="/Public/css/common.css">
    <script src="/Public/js/jquery-1.9.1.min.js"></script>
    <script src="/Public/js/bootstrap.min.js"></script>
    <script src="/Public/js/common.js"></script>
</head>
<style>
    img.qrcode {
        width:200px;
    }
    span.description {
        width: 100%;
        font-size: 14px;
        display: block;
        padding-top: 30px;
    }
</style>
<body>

<include file="Application/Home/View/Common/Navigation.html"/>
<include file="Application/Home/View/Common/Sidebar.html"/>

<div class="right-container">
    <img class="qrcode" src="/Public/image/qrcode.png" alt="支付宝二维码">
    <span class="description">这是本人的支付宝二维码，网站运营需要服务器费用，如果能给予本网站一点捐助，在下一定万分感谢！不管多少，您的帮助就是本网站免费运营下去的动力！</span>
</div>

</body>

</html>